<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      color: #333333;
    }
    .email-container {
      max-width: 600px;
      margin: 20px auto;
      background: #ffffff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .email-header {
      text-align: center;
      padding: 20px;
    }
    .email-header img {
      max-width: 150px;
      margin: 0 auto;
    }
    .email-content {
      padding: 20px;
      text-align: center;
    }
    .email-footer {
      text-align: center;
      color: #ffffff;
      padding: 10px 20px;
    }
    .app-promotion {
      margin-top: 20px;
      padding: 15px;
      background-color: #f1f1f1;
      border-radius: 6px;
      text-align: center;
    }
    .app-promotion img {
      max-width: 100px;
      margin: 10px auto;
    }
    .app-promotion p {
      margin: 10px 0;
    }
    .app-promotion a {
      text-decoration: none;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <!-- Header Section -->
    <div class="email-header" style="background-color: {{primaryColor}};">
      <a href="{{applink}}">
      <img src="{{applogo}}" alt="Company Logo">
      </a>
    </div>

    
    <div class="email-content">
      {{{text}}}
    </div>

    <!-- App Promotion -->
    <div class="app-promotion">
      <img src="{{applogo}}" alt="App Logo">
    </div>

    <!-- Footer Section -->
    <div class="email-footer" style="background-color: {{primaryColor}};">
      <p>&copy; {{year}} {{appname}}. All rights reserved.</p>
      <img src="{{tracing}}" width="1" height="1" style="display:none;">
    </div>
  </div>
</body>
</html>
